<mat-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Password details</ng-template>
            <div class="flexForm">
                <mat-form-field>
                    <mat-label>Password label</mat-label>
                    <input matInput formControlName="passwordLabel" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Number of shards</mat-label>
                    <mat-select formControlName="shardsNo">
                        <mat-option value="3">3</mat-option>
                        <mat-option value="5">5</mat-option>
                        <mat-option value="7">7</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Your password</mat-label>
                    <textarea matInput formControlName="password" required></textarea>
                </mat-form-field>
            </div>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Distribution information">
        <form [formGroup]="secondFormGroup">
            <div class="flexForm">
                <div>
                    <mat-label>Would you like us to store all of your shards?</mat-label>
                    <mat-radio-group formControlName="storeShards">
                        <mat-radio-button value="Yes">Yes</mat-radio-button>
                        <mat-radio-button value="No">No</mat-radio-button>
                    </mat-radio-group>
                </div>
                @if ( secondFormGroup.value.storeShards === 'No') {
                    <mat-form-field>
                        <mat-label>How many shards would you like us to keep?</mat-label>
                        <mat-select formControlName="userShards">
                            @for (i of range; track $index) {
                                <mat-option value="{{i}}">{{i}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <div formGroupName="emailSection">
                        <div formArrayName="emails">
                            <div *ngFor="let emailCtrl of emails.controls; let i = index">
                                <mat-form-field appearance="fill">
                                    <mat-label>Email {{i + 1}}</mat-label>
                                    <input matInput [formControlName]="i" placeholder="Enter email">

                                    <mat-error *ngIf="emailCtrl.hasError('required')">
                                        Email is required.
                                    </mat-error>
                                    <mat-error *ngIf="emailCtrl.hasError('email') && !emailCtrl.hasError('required')">
                                        Please enter a valid email.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Recap and Submit</ng-template>
        <div>Password label: {{firstFormGroup.value.passwordLabel}}</div>
        <div>Number of shards: {{firstFormGroup.value.shardsNo}}</div>
        <div>Self custody shards: {{secondFormGroup.value.userShards}}</div>
        <br>
        <div>Email addresses:</div>
        <div *ngFor="let email of secondFormGroup.value.emailSection?.emails">
            <div>{{email}}</div>
        </div>
        <br>
        <button mat-flat-button (click)="submitPassword()">Submit</button>

        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-stepper>


<!--<mat-form-field>-->
<!--    <mat-label>Password label</mat-label>-->
<!--    <input matInput>-->
<!--</mat-form-field>-->
<!--<mat-form-field>-->
<!--    <mat-label>Number of shards</mat-label>-->
<!--    <mat-select>-->
<!--        <mat-option value="one">3</mat-option>-->
<!--        <mat-option value="two">5</mat-option>-->
<!--        <mat-option value="two">7</mat-option>-->
<!--    </mat-select>-->
<!--</mat-form-field>-->
<!--<mat-form-field>-->
<!--    <mat-label>Your password</mat-label>-->
<!--    <textarea matInput></textarea>-->
<!--</mat-form-field>-->
