<h2 mat-dialog-title>Add a new wallet</h2>
<mat-dialog-content>
    <section>
        <mat-button-toggle-group
            name="walletAction"
            [(ngModel)]="selectedAction"
            aria-label="Wallet Action"
            [hideSingleSelectionIndicator]="true"
        >
            <mat-button-toggle value="import">Import wallet</mat-button-toggle>
            <mat-button-toggle *ngIf="authenticated" value="select">Saved wallets</mat-button-toggle>
            <mat-button-toggle value="create">Create wallet</mat-button-toggle>
        </mat-button-toggle-group>
    </section>

    <br>

    @if (selectedAction === 'import') {
        <mat-form-field>
            <mat-label>Textarea</mat-label>
            <textarea matInput [(ngModel)]="mnemonic"></textarea>
        </mat-form-field>
    } @else if (selectedAction === 'create') {
        <button mat-flat-button (click)="getMnemonic()">
            Generate mnemonic
        </button>
        <p *ngIf="mnemonic">{{mnemonic}}</p>
        <button mat-flat-button *ngIf="authenticated && mnemonic" (click)="saveMnemonic()">Save mnemonic</button>
    } @else {
        <button mat-flat-button
            (click)="selectSavedPassword()">
            Select from saved wallets
        </button>
    }

    @if (selectedAction !== 'select') {
        <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide() ? 'password' : 'text'" [formControl]="userPassword"/>
            <button
                mat-icon-button
                matSuffix
                (click)="clickEvent($event)"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide()"
            >
                <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    }
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="onAddClick()" [disabled]="selectedAction === 'select'">Add</button>
</mat-dialog-actions>
