<div class="wallets-container">
    <mat-card appearance="outlined" class="wallets-card">
        <mat-card-header>
            <mat-card-title>My wallet</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            @if (wallet === undefined) {
                <p>Import a wallet!</p>
            } @else {
                <p>{{wallet?.address?.bech32()}}</p>
            }
            <br><br>
        </mat-card-content>

        <mat-card-footer>
            <button mat-flat-button (click)="openDialog()">
                Add wallet
            </button>
        </mat-card-footer>
    </mat-card>
</div>
