<div class="wallets-container">
    <mat-card appearance="outlined" class="wallets-card">
        <mat-card-header>
            <mat-card-title>My wallet</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            @if (!existsWallet()) {
                <p>Import a wallet!</p>
            } @else if(!walletLocked()) {
                <p>{{wallet?.address?.bech32()}}</p>
            }

            @if (existsWallet() && walletLocked()) {
                <mat-form-field>
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide() ? 'password' : 'text'" [formControl]="userPassword"/>
                    <button
                        mat-icon-button
                        matSuffix
                        (click)="clickEvent($event)"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide()"
                    >
                        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <button mat-flat-button (click)="unlockWallet()">
                    Unlock wallet
                </button>
            }
            <br><br>
        </mat-card-content>

        <mat-card-footer>
            <button mat-flat-button (click)="openDialog()">
                Add wallet
            </button>

            @if(existsWallet()) {
                <button mat-flat-button (click)="removeWallet()">
                    Remove wallet
                </button>
            }
        </mat-card-footer>
    </mat-card>
</div>
