<div class="user-profile-container">
    <mat-card appearance="outlined" class="user-profile-card">
        <mat-card-header>
            <mat-card-title>My profile</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Username: {{userProfile.username}}</p>
            <p>Name: {{userProfile.name}}</p>
            <p>Email Address: {{userProfile.email}}</p>
            <br>
            <p>My saved email addresses:</p>
            <mat-list>
                @for (recipient of emailRecipients; track $index) {
                    <mat-list-item>
                        <div class="recipient-container">
                            <p>{{$index + 1}}. {{recipient.email}}</p>
                            <button
                                mat-icon-button
                                (click)="deleteEmailRecipient($index)">
                                <mat-icon fontIcon="delete"></mat-icon>
                            </button>
                        </div>
                    </mat-list-item>
                }
            </mat-list>
            @if (addAddress) {
                <button
                    mat-flat-button
                    (click)="enableEmailForm()">
                    Add new email address
                </button>
            }

            @if (showEmailForm) {
                <mat-form-field>
                    <mat-label>Enter your email</mat-label>
                    <input
                        matInput
                        placeholder="pat@example.com"
                        [formControl]="currentEmailToAdd"
                        required
                    />
                </mat-form-field>

                <button
                    mat-flat-button
                    (click)="cancelAddEmail()">
                    Cancel
                </button>

                <button
                    mat-flat-button
                    [disabled]="currentEmailToAdd.invalid"
                    (click)="submitNewEmail()">
                    Submit
                </button>
            }
        </mat-card-content>
        <mat-card-footer>

        </mat-card-footer>
    </mat-card>
</div>
