<div class="passwords-container">
    <mat-card appearance="outlined" class="passwords-card">
        <mat-card-header>
            <mat-card-title>Saved passwords</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-list>
                @for (password of passwords; track $index) {
                    <div class="row-container">
                        <mat-expansion-panel class="passwords-expansion-container">
                            <mat-expansion-panel-header [@.disabled]="true" expandedHeight="50px" collapsedHeight="50px">
                                <mat-panel-title> {{ password.id }}</mat-panel-title>
                                <mat-panel-description> {{ password.label }}</mat-panel-description>
                            </mat-expansion-panel-header>
                            <div>
                                @if (shards[$index].length === 0 && selfCustodyShards[$index] == 0) {
                                    <button mat-flat-button (click)="getAvailableShards(password.id)">Get stored shards</button>
                                } @else {
                                    <h4>Available shards:</h4>
                                    <div class="expansion-panel-shards-container">
                                        @for (shard of shards[$index]; track shard) {
                                            <div>
                                                {{ shard }}
                                            </div>
                                        }
                                    </div>

                                    <h4>Required for decryption: {{ requiredForDecryption[$index] }}</h4>
                                    @if (requiredForDecryption[$index] <= 0 && decryptedPassword[$index].length == 0) {
                                        <button mat-flat-button (click)="decryptPassword(password.id)">Decrypt password</button>
                                    } @else if (decryptedPassword[$index].length > 0) {
                                        <div
                                            cdkCopyToClipboard="{{decryptedPassword[$index]}}"
                                            (cdkCopyToClipboardCopied)="onCopied()"
                                            class="copy-div"
                                            [matTooltip]="tooltipMessage"
                                            matTooltipPosition="right"
                                        >
                                            {{ decryptedPassword[$index] }}
                                        </div>
                                    }
                                }
                                @if (!(requiredForDecryption[$index] <= 0 && decryptedPassword[$index].length == 0)
                                && !(decryptedPassword[$index].length > 0)) {
                                    <mat-form-field>
                                        <mat-label>Input</mat-label>
                                        <input matInput [(ngModel)]="this.currentSelfCustodyShard[$index]">
                                    </mat-form-field>
                                    <button mat-flat-button
                                            (click)="addSelfCustodyShard(password.id, this.currentSelfCustodyShard[$index])">
                                        Add self custody shard
                                    </button>
                                }
                            </div>
                        </mat-expansion-panel>
                        <button
                            mat-icon-button
                            style="align-content: baseline;
                            color: red" (click)="openDeleteModal($index)">
                            <mat-icon fontIcon="delete_forever"></mat-icon>
                        </button>
                    </div>
                    <br>
                }
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>
