<h1>My passwords</h1>
<mat-list>
    @for (password of passwords; track $index) {
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title> {{password.id}} </mat-panel-title>
                <mat-panel-description> {{password.label}} </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
            @if (shards[$index].length === 0) {
                <button mat-flat-button (click)="getAvailableShards(password.id)">Get stored shards</button>
            } @else {
                <h4>Available shards:</h4>
                @for (shard of shards[$index]; track shard) {
                    <div>{{shard}}</div>
                }

                <h4>Required for decryption: {{requiredForDecryption[$index]}}</h4>
                @if (shards[$index].length >= requiredForDecryption[$index] && decryptedPassword[$index].length == 0) {
                    <button mat-flat-button (click)="decryptPassword(password.id)">Decrypt password</button>
                }
                @else if (decryptedPassword[$index].length > 0) {
                    <div>{{decryptedPassword[$index]}}</div>
                }
            }
            @if (!(shards[$index].length >= requiredForDecryption[$index] && decryptedPassword[$index].length == 0)
                && !(decryptedPassword[$index].length > 0)) {
                <mat-form-field>
                    <mat-label>Input</mat-label>
                    <input matInput [(ngModel)]="this.currentSelfCustodyShard[$index]">
                </mat-form-field>
                <button mat-flat-button (click)="addSelfCustodyShard(password.id, this.currentSelfCustodyShard[$index])">
                    Add self custody shard
                </button>
            }
        </mat-expansion-panel>
        <br>
    }
</mat-list>
