<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened="false" class="example-sidenav"
                 [fixedInViewport]="true" [fixedTopGap]="0"
                 [fixedBottomGap]="0">

        <mat-nav-list style="height: 100%">
            <div class="sidenav-content">
                <div>
                    <a mat-list-item routerLink="home">Home</a>

                    @if (authenticated) {
                        <a mat-list-item routerLink="user/profile">User Profile</a>
                        <a mat-list-item routerLink="passwords">My Passwords</a>
                        <a mat-list-item routerLink="password/add">Add a password</a>
                    } @else {
                        <a mat-list-item routerLink="login">Login</a>
                    }
                </div>
                <div>
                    @if (authenticated) {
                        <a mat-list-item (click)="logout()">Logout</a>
                    }
                </div>
            </div>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
